/* Reset básico */
html,
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/* Estilo do cabeçalho */
header {
  background-color: black;
}

/* Estilo da navegação */
nav {
  background-color: white;
}

/* Lista dentro da navegação */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

/* Itens da lista de navegação */
nav li {
  margin: 0;
}

/* Links do menu */
nav a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 125%;
}

/* Hover nos links */
nav a:hover {
  background-color: lightblue;
}

.grid {
  background-color: black;
  padding: 20px;
  text-align: center;
  width: 300px;
  max-width: 85%;
  margin: 0 auto;
}

.link {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-around;
  padding: 20px 45px;
  border-radius: 45px;
  margin: 10px 0;
  text-decoration: none;
  cursor: pointer;
}

.link p {
  color: black;
  font-size: 125%;
}

.link:hover {
  background-color: lightblue;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.logotype {
  width: 150px;
  margin: 0 auto;
}

.logotype img {
  width: 100%;
  height: auto;
  display: block;
}

.divbox {
  width: 50%;
  height: 2px;
  background-color: lightblue;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.email {
  background-color: white;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 125%;
  text-transform: lowercase;
}

.email:hover {
  background-color: lightblue;
}

#about p {
  text-transform: capitalize;
  font-size: 145%;
}

h2 {
  font-size: 200%;
}